.sku-row-selected {
  background-color: rgba(13, 255, 0, 0.6);
}

.sku-row-selected button {
}

.auto-width-table {
  width: auto !important;
  max-width: 95%;
  margin: 0 auto;
}

.auto-width-table-container {
  display: flex;
  justify-content: center;
}
